<!--index.html-->
<!DOCTYPE html>
<html ng-app="myApp">

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">
        <title>Graph Dijkstra Example</title>

        <!-- using lodash and bootstrap in the example -->
        <script src="https://cdn.jsdelivr.net/lodash/4.13.1/lodash.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
        <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

        <style>
            body {
                background-color: #DDD;
            }
            .col {
                padding: 0;
                height: 160px;
            }
            .node-rect {
                x: 5%;
                y: 5%;
                width: 90%;
                height: 90%;
                stroke: black;
                stroke-width: 2px;
                fill: #33F;
            }
            .node-rect.path {
                fill: #0FF;
            }
            .node-text {
                fill: #D00;
            }
            .node-line {
                stroke: black;
                stroke-width: 10px;
            }
            .node-rect.path ~ .node-line {
                /*stroke: #fff;*/
            }
        </style>
    </head>

    <body ng-controller="myCtrl">
        <div class="container">
            <div class="row">
                <div class="col col-xs-2" ng-repeat="i in _.values(graph.nodes).slice(0,6)" ng-click="path(i.id)">
                    <svg width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                         <rect id="{{i.id}}" class="node-rect" />
                         <text class="node-text" x="50%" y="50%" text-anchor="middle" font-size="24" font-weight="600">
                             {{ i.id }}
                         </text>
                         <!-- right connecting lines -->
                         <line class="node-line" x1="95%" y1="50%" x2="100%" y2="50%" ng-if="($index+1) % 6 !== 0 && graph.connected(i.id, _.values(graph.nodes)[$index+1+0].id)" />
                         <!-- left connecting lines -->
                         <line class="node-line" x1="5%" y1="50%" x2="0%" y2="50%" ng-if="($index+1) % 6 !== 1 && graph.connected(i.id, _.values(graph.nodes)[$index-1+0].id)" />
                         <!-- down connecting lines -->
                         <line class="node-line" x1="50%" y1="95%" x2="50%" y2="100%" ng-if="graph.connected(i.id, _.values(graph.nodes)[$index+6].id)" />
                     </svg>
                </div>
            </div>

            <div class="row">
                <div id="{{i.id}}" class="col col-xs-2" ng-repeat="i in _.values(graph.nodes).slice(6,12)" ng-click="path(i.id)">
                    <svg width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                        <rect id="{{i.id}}" class="node-rect" />
                        <text class="node-text" x="50%" y="50%" text-anchor="middle" font-size="24" font-weight="600">
                            {{ i.id }}
                        </text>
                        <!-- right connecting lines -->
                        <line class="node-line" x1="95%" y1="50%" x2="100%" y2="50%" ng-if="($index+1) % 6 !== 0 && graph.connected(i.id, _.values(graph.nodes)[$index+7].id)" />
                        <!-- left connecting lines -->
                        <line class="node-line" x1="5%" y1="50%" x2="0%" y2="50%" ng-if="($index+1) % 6 !== 1 && graph.connected(i.id, _.values(graph.nodes)[$index+5].id)" />
                        <!-- down connecting lines -->
                        <line class="node-line" x1="50%" y1="95%" x2="50%" y2="100%" ng-if="graph.connected(i.id, _.values(graph.nodes)[$index+12].id)" />
                        <!-- up connecting lines-->
                        <line class="node-line" x1="50%" y1="5%" x2="50%" y2="0%" ng-if="graph.connected(i.id, _.values(graph.nodes)[$index].id)"/>
                    </svg>
                </div>
            </div>
            <div class="row">
                <div id="{{i.id}}" class="col col-xs-3" ng-repeat="i in _.values(graph.nodes).slice(12,18)" ng-click="path(i.id)">
                    <svg width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                        <rect id="{{i.id}}" class="node-rect" />
                        <text class="node-text" x="50%" y="50%" text-anchor="middle" font-size="24" font-weight="600">
                            {{ i.id }}
                        </text>
                        <!-- right connecting lines -->
                        <line class="node-line" x1="95%" y1="50%" x2="100%" y2="50%" ng-if="($index+1) % 4 !== 0 && graph.connected(i.id, _.values(graph.nodes)[$index+9].id)" />
                        <!-- left connecting lines -->
                        <line class="node-line" x1="5%" y1="50%" x2="0%" y2="50%" ng-if="($index+1) % 4 !== 1 && graph.connected(i.id, _.values(graph.nodes)[$index+7].id)" />
                        <!-- down connecting lines -->
                        <line class="node-line" x1="50%" y1="95%" x2="50%" y2="100%" ng-if="graph.connected(i.id, _.values(graph.nodes)[$index+12].id)" />
                        <!-- up connecting lines-->
                        <line class="node-line" x1="50%" y1="5%" x2="50%" y2="0%" ng-if="graph.connected(i.id, _.values(graph.nodes)[$index+4].id)"/>
                    </svg>
                </div>
            </div>
            <div class="row">
                <div class="col col-xs-3" ng-repeat="i in _.values(graph.nodes).slice(12,16)" ng-click="path(i.id)">
                    <svg width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                        <rect id="{{i.id}}" class="node-rect" />
                        <text class="node-text" x="50%" y="50%" text-anchor="middle" font-size="24" font-weight="600">
                            {{ i.id }}
                        </text>
                        <!-- right connecting lines -->
                        <line class="node-line" x1="95%" y1="50%" x2="100%" y2="50%" ng-if="($index+1) % 4 !== 0 && graph.connected(i.id, _.values(graph.nodes)[$index+13].id)" />
                        <!-- left connecting lines -->
                        <line class="node-line" x1="5%" y1="50%" x2="0%" y2="50%" ng-if="($index+1) % 4 !== 1 && graph.connected(i.id, _.values(graph.nodes)[$index+11].id)" />
                        <!-- up connecting lines-->
                        <line class="node-line" x1="50%" y1="5%" x2="50%" y2="0%" ng-if="graph.connected(i.id, _.values(graph.nodes)[$index+8].id)"/>
                    </svg>
                </div>
            </div>
        </div>
    </body>

    <script src="../dist/graph-dijkstra.js"></script>
    <script>
        var f = function(num) {
            for (var i = 0; i < num; i++) {
                console.log(' ');
                console.log('<div class="row">');
                console.log('<div class="col col-xs-2" ng-repeat="i in _.values(graph.nodes).slice('+i*num+','+(i+1)*num+')" ng-click="path(i.id)">');
                console.log('<svg width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">');
                console.log('<rect id="{{i.id}}" class="node-rect" />');
                console.log('<text class="node-text" x="50%" y="50%" text-anchor="middle" font-size="24" font-weight="600">');
                console.log('{{ i.id }}');
                console.log('</text>');
                console.log('<!-- right connecting lines -->');
                console.log('<line class="node-line" x1="95%" y1="50%" x2="100%" y2="50%" ng-if="($index+1) % 6 !== 0 && graph.connected(i.id, _.values(graph.nodes)[$index+1+'+i*num+'].id)" />');
                console.log('<!-- left connecting lines -->');
                console.log('<line class="node-line" x1="5%" y1="50%" x2="0%" y2="50%" ng-if="($index+1) % 6 !== 1 && graph.connected(i.id, _.values(graph.nodes)[$index-1+'+i*num+'].id)" />');
                console.log('<!-- down connecting lines -->');
                console.log('<line class="node-line" x1="50%" y1="95%" x2="50%" y2="100%" ng-if="graph.connected(i.id, _.values(graph.nodes)[$index+'+(i+1)*num+'].id)" />');
                console.log('<!-- up connecting lines-->');
                console.log('<line class="node-line" x1="50%" y1="5%" x2="50%" y2="0%" ng-if="graph.connected(i.id, _.values(graph.nodes)[$index+'+(i-1)*num+'].id)"/>');
                console.log('</svg>');
                console.log('</div>');
                console.log('</div>');
                console.log(' ');
            }
        };

        angular.module('myApp', [])
            .controller('myCtrl', myCtrl)
            .factory('Graphing', Graphing)
            .factory('Dijkstra', Dijkstra);


            function myCtrl($scope, Graphing, Dijkstra) {
                $scope._ = window._; // load lodash
                // create and store graph
                Graphing.createGraph('./graph.json', true).then(function() {
                    $scope.graph = Graphing.graph;
                });

                // calculate shortest path
                var isSource = true;
                var source = null;
                var target = null;

                $scope.path = function(id) {
                    isSource ? source = id : target = id;

                    if (!!source && !!target) {
                        var dijResults  = Dijkstra.run(source, target, $scope.graph, 1);
                        var shortestPath = Dijkstra.getPath(dijResults.prev, target);
                        $('.node-rect').removeClass('path');
                        $scope._.forEach(shortestPath, function(id) {
                            $('#' + id + '.node-rect').addClass('path');
                        });
                    }

                    isSource = !isSource;
                };
            }

            /**
             * Graphing: example angular service using Graph
             * @graph stores a created graph (enables use between controllers)
             * @createGraph(url, debug) creates a new graph given the url to a json
             * graph (in this case ./graph.json) and debug allows the enable or disable
             * verification during graph construction
             */
            function Graphing($http) {
                var service = {
                    graph: null,

                    createGraph: createGraph
                };

                return service;

                //------------------------------------------------//

                function createGraph(url, debug) {
                    return $http.get(url)
                        .success(function(data) {
                            service.graph = new Graph({
                                graph: data,
                                debug: debug || false // default to false
                            });

                            return service.graph;
                        })
                        .error(function(error) {
                            console.error(error || 'Request failed');
                        });
                }
            }
    </script>

</html>